<div class="jumbotron w-50 mx-auto text-light text-center" style="background-color: #343a40d8; margin-top: 12.5%;">
 <img src="{{ $.Site.Params.logo }}" height="300">
  <p class="lead">{{ $.Site.Params.description}}</p>
  <a class="btn btn-dark btn-lg" href="{{ $.Site.Params.githubURL}}" role="button">Github <img src="github logo-light.svg" height="30"></a>
</div>
<div id="gradient" class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<style>
:root {
  --background: linear-gradient(150deg, #017BFF 15%, #01a5ff 30%, #27a767 70%, #27A745 95%);
}
#gradient {
  width: 100%;
  height: 35vw;
  background: var(--background);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  transform: skewY(-12deg);
  transform-origin: 0;
}

#gradient span:nth-child(1) {
  grid-column: span 1;
  background: var(--first);
}
#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

.content{
    position: relative;
    z-index: 100;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
</style>