<nav class="navbar navbar-expand-lg navbar-dark content" style="background-color: #343a40d8;">
  <a class="navbar-brand" href="#"><img src="{{ $.Site.Params.favicon }}"height="30"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">    
        <li class="nav-item">
             <a class="navbar-brand" href="{{ $.Site.Params.githubURL }}"><img src="github logo-light.svg" height="30"></a>
        </li>
    </ul>
  </div>
</nav>
<div class="alert alert-warning" role="alert">
  LibreBadge is currently in the pre-alpha development phase. Many features that are fundamental to the idea of LibreBadge are still being designed and implemented. Help is needed, visit the github repository to help!
  <br>
  This website, the LibreBadge branding, vision and mission statement are also still under construction and help would be much appreciated!
</div>
